DATABASE_URL=postgresql://user:password@host/database?sslmode=require
CONSENSUS_BRIEF_DEPLOYER_PRIVATE_KEY=
NEXT_PUBLIC_CONSENSUS_BRIEF_CONTRACT_ADDRESS=0xC4BDAb7644538207e7b779CaaeBC1B1C0CBaaA8B
NEXT_PUBLIC_APP_URL=http://localhost:3000
